{% extends 'todo/base.html' %}

{% block content %}

    <h1>Update</h1>
    <h2>{{ todo.title }}</h2>
    <h2>{{ error }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">update</button>
    </form>

    <form method="post" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">complete</button>
    </form>

     <form method="post" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">delete</button>
    </form>

{% endblock %}